body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


h1 {
    background-color: rgb(88, 183, 152);
    color: #fff;
    padding: 10px;
}


textarea {
    width: 80%;
    height: 200px;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ccc;
    resize: none;
   
    box-shadow: 0px 4px 4px 0px rgba(96, 96, 96, 0.5);
}


button {
    background-color: rgb(125, 255, 212);
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
    
box-shadow: 0px 4px 4px 0px rgba(96, 96, 96, 0.5);
}

button:hover {
    background-color: rgb(88, 183, 152);
    color: white;
}


#notas-salvas {
    background-color: #fff;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    border: 1px solid #ccc;
  
box-shadow: 0px 4px 4px 0px rgba(96, 96, 96, 0.5);
}